/* CSS FILE FOR APP.HTML */
.nav-wrapper {
    background-color: #4ed6db !important;
}

a {
    color: #4ed6db;
}

.tabs .tab a {
    color: rgba(251, 141, 64, 0.7);
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: rgba(251, 141, 64, 0.2);
    outline: none;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    color: #fb8d40;
}

ul.tabs>li.indicator {
    background-color: #fb8d40;
}

.btn-floating {
    background-color: #4ed6db;
}

.btn-floating:hover {
    background-color: #81d6d9;
}

.btn {
    background-color: #fb8d40;
}

.btn:hover {
    background-color: #ffa15e;
}

.btn:focus {
    background-color: #fb8d40;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: #fb8d40;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #fb8d40;
    box-shadow: 0 1px 0 0 #fb8d40;
}

input[type="text"]:not(.browser-default):focus:not([readonly])+label {
    color: #fb8d40;
}

.chips.focus {
    border-bottom: 1px solid #fb8d40;
    box-shadow: 0 1px 0 0 #fb8d40;
}

.chip:focus {
    background-color: #fb8d40;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #fb8d40;
}

/*  #############################
    ####### GLOBAL CONFIG #######
    #############################   */

.bold {
    font-weight: bold;
}

.invisible {
    opacity: 0%;
}

.modal {
    border-radius: 0.5em;
}

.vertical-align {
    vertical-align: middle;
}

#inventory>.row,
#recommendations>#os-selected>.row {
    margin-left: 0px;
    margin-right: 0px;
}

.clickable:hover {
    cursor: pointer;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.no-margin {
    margin: 0px !important;
}

.recommendations-head > tr > th > div.row > div.col, .inventory-head > tr > th > div.row > div.col{
    padding-left: 0px;
    padding-right: 0px;
}

/*  ############################
    ####### OS SELECTION #######
    ############################    */

#os-selector-modal>.modal-content {
    height: 30em;
}

/*  ###################################
    ####### RECOMMENDATIONS TAB #######
    ################################### */


.question-modal {
    padding-left: 1.5em;
    padding-right: 1.5em;
    overflow: hidden;
}

.question-modal>.modal-content {
    margin-top: 1em;
    padding: 0px;
}

.question-modal #question-body,
.question-modal .recommendations-footer {
    padding: 0px;
}

.question-modal div.row {
    margin-left: 0px;
    margin-right: 0px;
}

#question-body>div.right-align {
    margin-bottom: 1em;
}

#question-body>ul.dropdown-content.select-dropdown {
    overflow-y: auto;
}

#question-body a.prevent-select.material-symbols-outlined.vertical-align.clickable {
    position: absolute;
    right: 1%;
    bottom: 20%;
    z-index: 2000;
}

.arrow-icon {
    transition: transform 0.3s ease;
    /* Ajoute une transition douce pour une animation fluide */
}

/* Styles spécifiques au survol du bouton */
.button-icon-arrow:hover .arrow-icon {
    transform: rotate(-180deg);
}

.split-buttons,
.generations-buttons,
#dropdown1 a {
    display: flex
}

.generations-buttons {
    padding: 2em;
    justify-content: space-between;

    >a {
        .material-icons {
            position: absolute;
        }

        ;

        >span {
            margin-left: 2em
        }

        ;
    }
}

.icon-3-squares-l {
    transform: rotate(-90deg);
}

.icon-1-square-45deg {
    font-size: 11px !important;
    left: 2.35em;
    top: -0.5em;
    position: absolute;
}

.generations-buttons>a:hover .icon-1-square-45deg {
    animation: rotation 1.3s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

#log-modal {
    height: 80%;
    max-height: 80%;
    width: 80%;
}

#log-modal div.row {
    margin-bottom: 0px;
}

.log-container {
    border: 1px solid #000;
    border-radius: 0.2em;
    height: 40em;

    overflow-y: scroll;
    
    padding-left: 0.2em;
    padding-right: 0.2em;
}

#btn-modal-log {
    right: -95%;
    z-index: 1005;
}

/*  #############################
    ####### INVENTORY TAB #######
    ############################# */

.edit-cell {
    margin-bottom: 0px;
}

.edit-cell>.input-field {
    margin: 0px;
}

html {
    overflow-x: hidden;
}

#recommendations {
    margin-bottom: 10px;
}