.modal {
    border-radius: 0.5em;
}

#os-selector-modal>.modal-content {
    height: 30em;
}

.arrow-icon {
    transition: transform 0.3s ease;
    /* Ajoute une transition douce pour une animation fluide */
}

/* Styles spécifiques au survol du bouton */
.button-icon-arrow:hover .arrow-icon {
    transform: rotate(-180deg);
}

.split-buttons,
.generations-buttons,
#dropdown1 a {
    display: flex
}

.generations-buttons {
    padding: 2em;
    justify-content: space-between;

    >a {
        .material-icons {
            position: absolute;
        }

        ;

        >span {
            margin-left: 2em
        }

        ;
    }
}

.icon-3-squares-l {
    transform: rotate(-90deg);
}


.icon-1-square-45deg {
    font-size: 11px !important;
    left: 2.35em;
    top: -0.5em;
    position: absolute;
}

.generations-buttons>a:hover .icon-1-square-45deg {
    animation: rotation 1.3s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

#r-radio-btn:hover {
    cursor: pointer;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}


/* QUESTION MODAL STYLE */

.question-modal {
    padding-left: 1.5em;
    padding-right: 1.5em;
    overflow: hidden;
}

.question-modal>.modal-content {
    margin-top: 1em;
    padding: 0px;
}

.question-modal #question-body, .question-modal .recommendations-footer {
    padding: 0px;
}

.question-modal div.row {
    margin-left: 0px;
    margin-right: 0px;
}

#question-body > div.right-align {
    margin-bottom: 1em;
}

#question-body > ul.dropdown-content.select-dropdown {
    overflow-y: auto;
}