html {
    height: 100%;
}

body {
    min-height: 100%;
}

.welcome-block {
    font-size: 1.5em;
}

.welcome-title {
    font-size: 2.5em !important;
}

.nav-wrapper, a.btn {
    background-color: #4ed6db !important;
}

a, .welcome-title {
    color: #4ed6db;
}