<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutomA</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/square.font.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/logo.png') }}">

    <script src="{{ url_for('static', filename='js/librairies/materialize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.init.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.api.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.question.component.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.selection.component.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.table.component.js') }}"></script>
    <script>
        // GLOBAL VARIABLES
        var SERVER_IP = "{{ SERVER_IP }}"
        var SERVER_PORT = "{{ SERVER_PORT }}"
    </script>
</head>

<body>
    <nav>
        <div class="nav-wrapper light-blue">
            <a href="/" class="brand-logo center"><img src="{{ url_for('static', filename='images/logo.png') }}"
                    height="80">
            </a>
        </div>
    </nav>


    <!-- 
        ###################################################################
        #### IF NO ENVIRONMENT HAS BEEN SELECTED
        ###################################################################
    -->
    <div id="os-not-selected">
        <div class="row" style="margin-top: 50px;">
            <div class="col s12 center">
                <div class="center-align">
                    <a class="waves-effect waves-light btn light-blue" href="#" onclick="selectOsModelOpen()">
                        <i id="radio_button_unchecked" class="material-symbols-outlined left"></i>
                        Select my system !
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- 
        ###################################################################
        #### TABS TO SWITCH BETWEEN RECOMMENDATIONS ANS INVENTORY
        ###################################################################
    -->
    <div class="row" style="margin-top: 30px;">
        <div class="col s12">
            <ul class="tabs" id="recommendation-inventory-tabs">
                <li class="tab col offset-s3 s3"><a href="#recommendations">Hardening Action</a></li>
                <li class="tab col s3"><a href="#inventory">Host Inventory</a></li>
            </ul>
        </div>
    </div>

    <!-- 
        ###################################################################
        #### RECOMMENDATIONS TAB
        ###################################################################
    -->
    <div id="recommendations" class="col s12">
        <div id="os-selected" class="hide">
            <div class="row" style="margin-top: 50px;">
                <div class="col s8 offset-s2 center">
                    <div class="center-align">
                        <table class="highlight">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Level</th>
                                    <th>From</th>
                                </tr>
                            </thead>
                            <tbody id="recommendations-container"></tbody>
                        </table>
                        <div class="generations-buttons">
                            <a class="waves-effect waves-light btn squared-button" onclick="generateAction()">
                                <i class="material-icons left icon-3-squares-l"></i>
                                <i class="material-icons left icon-1-square-45deg"></i>
                                <span>Generate</span>
                            </a>
                            <div id="run-and-expand-btn" class="split-buttons">
                                <a class="waves-effect waves-light btn" disabled onclick="runPlaybook()"><i
                                        class="material-symbols-outlined left">play_circle</i>Run</a>
                                <a href="#!" class="waves-effect waves-light btn button-icon-arrow dropdown-trigger"
                                    data-target="dropdown1" disabled><i
                                        class="material-icons arrow-icon">expand_more</i></a>
                            </div>
                            <ul id="dropdown1" class="dropdown-content">
                                <li><a href="#!"><i class="material-symbols-outlined left"
                                            disabled>download</i>Download</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="question-container"></div>
    </div>


    <!-- 
        ###################################################################
        #### INVENTORY TAB
        ###################################################################
    -->
    <div id="inventory" class="col s12">
        <div class="row">
            <div class="col s10 offset-s1 center">
                <div class="center-align">
                    <table class="highlight">
                        <thead>
                            <tr>
                                <th>
                                    <a class="prevent-select material-symbols-outlined vertical-align clickable" onclick="deleteAllHosts()">delete</a>
                                </th>
                                <th>Name</th>
                                <th>IP</th>
                                <th>Port</th>
                                <th>Connection Method</th>
                                <th>Username</th>
                                <th>Auth</th>
                                <th>Sudo Username</th>
                                <th>Sudo Password</th>
                            </tr>
                        </thead>
                        <tbody id="inventory-container"></tbody>
                        <tbody>
                            <tr id="inventory-input">
                                <th></th>
                                <th>
                                    <div class="row edit-cell">
                                        <div class="input-field col s12">
                                            <input id="input-hostname" type="text">
                                            <label for="input-hostname">Name</label>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="row edit-cell">
                                        <div class="input-field col s12">
                                            <input id="input-ip" type="text">
                                            <label for="input-ip">IP or FQDN</label>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="row edit-cell">
                                        <div class="input-field col s12">
                                            <input id="input-port" type="text">
                                            <label for="input-port">Port</label>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="row edit-cell">
                                        <div class="input-field col s12">
                                            <select id="select-connection">
                                                <option value="0" selected>Password based</option>
                                                <option value="1">Keyfile based</option>
                                            </select>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="row edit-cell">
                                        <div class="input-field col s12">
                                            <input id="input-username" type="text">
                                            <label for="input-username">Username</label>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="row edit-cell">
                                        <div class="input-field col s12">
                                            <input id="input-password-keyfile" type="text">
                                            <label id="label-password-keyfile" for="input-password-keyfile"></label>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="row edit-cell">
                                        <div class="input-field col s12">
                                            <input id="input-sudo-username" type="text">
                                            <label for="input-sudo-username">Username</label>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="row edit-cell">
                                        <div class="input-field col s12">
                                            <input id="input-sudo-password" type="text">
                                            <label for="input-sudo-password">Password</label>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="row edit-cell">
                                        <div class="input-field col s12">
                                            <a class="waves-effect waves-light btn" onclick="addHostInTable()">Add</a>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




    <!-- Modal Structure -->
    <div id="os-selector-modal" class="modal">
        <div class="modal-content">
            <h4>Environment Selection</h4>
            <p>Answer the boxes</p>

            <div class="row">
                <div class="col s8 offset-s2">
                    <select id="os-selection">
                        <option value="" disabled selected>Choose your os</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col s8 offset-s2">
                    <select id="os-type">
                        <option value="" disabled selected>Choose your os type</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col s8 offset-s2">
                    <select id="os-version">
                        <option value="" disabled selected>Choose your os version</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a id="valid" href="#!" class="modal-close waves-effect waves-green btn-flat" disabled
                onclick="validEnvironment()">Next !</a>
        </div>
    </div>

    <template id="template-question-modal">
        <div class="modal">
            <div class="modal-content">
                <h4 id="question-title"></h4>
                <p id="question-description"></p>
                <p id="question-author"></p>
            </div>
            <div class="modal-footer recommendations-footer">
                <div class="row">
                    <form class="col s12 left-align" id="question-body">
                    </form>
                </div>
            </div>
        </div>
    </template>

</body>

</html>