<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutomA</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/logo.png') }}">
    
    <script src="{{ url_for('static', filename='js/librairies/materialize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.init.js') }}"></script>
</head>

<body id="body-background">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center"><img src="{{ url_for('static', filename='images/logo.png') }}"
                    height="80">
            </a>
        </div>
    </nav>

    <div class="row" style="margin-top: 50px;">
        <div class="col s6 offset-s3">
            <div class="card">
                <form method="POST" action="/login">
                <div class="card-content white-text">
                    <span class="card-title center welcome-title">Login</span>
                    <label>Username</label>
                    <input class="black-text welcome-block" name="username" type="text"></input>
                    <label>Password</label>
                    <input class="black-text welcome-block" name="password" type="password"></input>
                </div>

                <div class="card-action center-align">

                    <button class="waves-effect waves-light btn" href="/app">
                        <i id="rocket_launch" class="material-symbols-outlined left"></i>
                        Login !
                    </button>
                </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="{{ url_for('static', filename='js/librairies/three.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/librairies/vanta.net.min.js') }}"></script>
<script>
    VANTA.NET({
        el: "#body-background",
        mouseControls: false,
        touchControls: false,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 200.00,
        scale: 1.00,
        scaleMobile: 1.00,
        color : "#4ed6db",
        backgroundColor: "#ffffff" 
    })
</script>

</html>